<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Light in Dark</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{%static 'css/mystyle.css'%}" />
  </head>
  <body>
    <h1>Hello this a picture of candle in the dark!</h1>
    {{ insert_me }}
    <br />

    <img
      src="{% static 'images/Wallpaper.jpg' %}"
      alt="Dark Candle Wallpaper"
    />
    <script src="" async defer></script>
  </body>
</html>
